.GlobalPartnersSection {
  padding: 64px 0;
  background-image: url("../../../../assets/images/decor/GlobalPartnersSectionDecor.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .media {
    .flag {
      margin-right: -25px;
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 180px;
      border: 3px solid rgba(255, 255, 255, 0.57);
      box-shadow: 124px 64px 39px 0px rgba(0, 0, 0, 0), 80px 41px 36px 0px rgba(0, 0, 0, 0.01), 45px 23px 30px 0px rgba(0, 0, 0, 0.05), 20px 10px 22px 0px rgba(0, 0, 0, 0.09), 5px 3px 12px 0px rgba(0, 0, 0, 0.1);

      &.vi {
        z-index: 4;
      }
      &.ko {
        z-index: 3;
      }
      &.zh-cn {
        z-index: 2;
      }
      &.lo {
        z-index: 1;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
